<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kmd.newbenefit">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="com.mapv2.demo.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/howden_launch"
        android:label="Howden Benefit"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/howden_launch"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:label">

        <activity
            android:name="com.palm.newbenefit.Activity.ViewDataActivtyDoc"
            android:exported="false" />
        <activity
            android:name="com.palm.newbenefit.Activity.UploadDeficiencyActivity"
            android:exported="false" />
        <activity android:name="com.palm.newbenefit.Activity.UploadActivity" />
        <activity android:name="com.palm.newbenefit.Activity.PassowrdPolicyActivity" />
        <activity android:name="com.palm.newbenefit.Activity.QuestionsAnsActivity" />
        <activity android:name="com.palm.newbenefit.Activity.ClaimDetailActivity" />
        <activity android:name="com.palm.newbenefit.Activity.HealthCheckupActivity" />
        <activity android:name="com.palm.newbenefit.Activity.ViewOverAllClaimActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <activity
            android:name="com.palm.newbenefit.Activity.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name="com.palm.newbenefit.Activity.EditDiscActivity"
            android:exported="false" />
        <activity
            android:name="com.palm.newbenefit.Activity.RouteActivity"
            android:exported="false" />
        <activity
            android:name="com.palm.newbenefit.Activity.PlanHospitalActivity"
            android:exported="false" />
        <activity
            android:name="com.palm.newbenefit.Activity.MyPersonalActivity"
            android:exported="false" />
        <activity
            android:name="com.palm.newbenefit.Activity.MyPoliciesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.BankDetailExample"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.ViewDataActivty"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.EditDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.TrackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.QueriesListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.EditMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.WebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.PdfDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.MemberCoverHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.HomePoliciesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.EditNomineeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.NomineeViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.AddFamilyDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.FamilyDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.ForgetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.WebviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.PdfActivityjava"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.ChangePassforceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.DemoActivty"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name="com.palm.newbenefit.Activity.BankDetailActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name="com.palm.newbenefit.Activity.FamilyMemberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.palm.newbenefit.Activity.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" /> <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable installation campaign reporting -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>